form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
form div input,
form div textarea {
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 20px;
}
#submit {
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 15px;
  width: 30%;
  transition: 0.9s;
  font-size: 20px;
}
#submit:hover {
  cursor: pointer;
  transform: translateX(30px);
}
